<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/CSS/styleAdmin.css" />
    <!-- Font Awesome Cdn Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
</head>

<body>
    <%- include("../partials/localization") %>
        <header class="header">
            <div class="logo">
                <a href="#">The Company</a>
                <div class="search_box">
                    <input type="text" placeholder="Search">
                    <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                </div>
            </div>

            <div class="header-icons">
                <div class="account">
                    <!-- <img src="./mostafa.jpg" alt=" image "> -->
                    <h4>Admin</h4>
                </div>
            </div>
        </header>
        <div class="container">
            <%- include("../partials/adminnavbar") %>

                <div class="main-body">
                    <h2>Units</h2>
                    <div class="promo_card">
                        <h1>Here you can Add, Edit and Delete Units</h1>
                        <!-- <span>This is the Admin Dashboard</span> -->
                    </div>
                    <div class="history_lists">
                        <div class="list1">
                            <div class="row">
                                <h4>Units</h4>
                                <a href="/admin/adding">Add Units</a>
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Unit Name</th>
                                        <th>Location</th>
                                        <th>Price</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (properties.length> 0){%>
                                        <%count=1;%>
                                            <%properties.forEach(prop=>{%>
                                                <tr>
                                                    <td>
                                                        <%=count%>
                                                    </td>
                                                    <td>
                                                        <a href="/user/propirty/<%=prop.id%>">
                                                        <%=prop.name%>
                                                    </a>
                                                    </td>
                                                    <td>
                                                        <%=prop.district%>
                                                    </td>
                                                    <td>
                                                        <%=prop.value%>
                                                    </td>
                                                    <td><a href="/admin/editprop/<%=prop.id%>">Edit</a></td>
                                                    <td><a href="/admin/delprop/<%=prop.id%>">Delete</a></td>
                                                </tr>
                                                <%count++;%>
                                                    <%});%>
                                                        <%}else{%>
                                                            <p>there are no properties to show</p>
                                                            <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>


</body>

</html>