<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/CSS/styleAdmin.css" />
  <!-- Font Awesome Cdn Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
</head>

<body>
  <%- include("../partials/localization") %>
    <header class="header">
      <div class="logo">
        <a href="#">The Company</a>
        <div class="search_box">
          <input type="text" placeholder="Search">
          <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
        </div>
      </div>

      <div class="header-icons">
        <div class="account">
          <!-- <img src="./mostafa.jpg" alt=" image "> -->
          <h4>Admin</h4>
        </div>
      </div>
    </header>
    <div class="container">
      <%- include("../partials/adminnavbar") %>

        <div class="main-body">
          <h2>Dashboard</h2>
          <div class="promo_card">
            <h1>Welcome Admin </h1>
            <span>This is the Dashboard</span>
            <!-- <button>Learn More</button> -->
          </div>

          <div class="history_lists">
            <div class="list1">
              <div class="row">
                <h4>Users</h4>
                <a href="/admin/viewusers">See all</a>
              </div>
              <table>
                <thead>
                  <tr>
                    <th>#User No.</th>
                    <th>UserName</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (Users.length> 0){%>
                    <% var count=1; %>
                      <% Users.forEach(Client=>{%>
                        <% if (Client.type=='client' ){%>
                          <tr>
                            <td>
                              <%=count%>
                            </td>
                            <td>
                              <a href="/user/<%=Client.id%>">
                                <%=Client.username%>
                              </a>
                            </td>
                            <td>
                              <%=Client.email%>
                            </td>
                          </tr>
                          <% count++;%>
                            <% } %>
                              <% })%>
                                <% } else { %>
                                  <p>No Users found </p>
                                  <% }%>
                </tbody>
              </table>
            </div>

            <div class="list2">
              <div class="row">
                <h4>Admin</h4>
                <a href="/admin/viewadmins">See all</a>
              </div>
              <table>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (Users.length> 0){%>
                    <% var count=1; %>
                      <% Users.forEach(Client=>{%>
                        <% if (Client.type=='admin' ){%>
                          <tr>
                            <td>
                              <%=count%>
                            </td>
                            <td>
                              <a href="/user/<%=Client.id%>">
                                <%=Client.username%>
                              </a>
                            </td>
                            <td>
                              <%=Client.email%>
                            </td>
                          </tr>
                          <% count++;%>
                            <% } %>
                              <% })%>
                                <% } else { %>
                                  <p>No admins found </p>
                                  <% }%>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="sidebar">
          <h4>Top Sales</h4>
          <% Propirty.sort((a, b)=> b.value - a.value); %>

            <% for(var i=0; i<Propirty.length; i++) { %>
              <div class="balance">
                <div class="info">
                  <h5>
                    <a href="/user/propirty/<%=Propirty[i].id%>">
                      <%= Propirty[i].name %>
                    </a>
                  </h5>
                  <span>
                    <%= Propirty[i].value %> EGP
                  </span>
                </div>
              </div>
              <% } %>
        </div>
</body>

</html>