<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Properties</title>
    <link rel="stylesheet" href="/CSS/properties.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/CSS/pagination.css">
</head>
<%- include("../partials/header") %>
<%- include("../partials/localization") %>

<body>
    <div class="containerkbeer">
        <div class="pr">
            <h1 class="font">Recently Added Properties</h1>
            <img src="/img/header_center.webp" alt="..">
            <p class="info">Recently Added Properties at Blue Rock Real Estate Marketing & Investment Egypt</p>
            <br>
                <!--<select name="properties">
                <option value="Units">Units</option>
         <option value="Villas">Villas</option>
                </select>-->

        </div>

        
        <%var start=currentValue*6%>
        <div class="container">
            <% if (Propirty.length> 0) { %>
                <%//var t=0%>
                <% for(var i=start;i<Propirty.length;i++) { %>
                    <%//if(t<6){%>
            <div class="house">
                <a href="/user/propirty/<%=Propirty[i].id%>" class="imm">
                    <div class="fade"></div>
                    <img src="/img/<%=Propirty[i].Image%>" alt="can't load image">
                                <h2 class="price">
                                    <%=Propirty[i].value%> EGP
                                </h2>
                                <p class="sale">
                                    <%=Propirty[i].servicetype%>
                                </p>
                    <div class="forsalebar"></div>
                </a>
                <div class="title">
                                <h3>
                                    <%=Propirty[i].name%>
                                </h3>
                                <p class="p"><i class="fa fa-map-marker icon">
                                        <%=Propirty[i].district%>
                                    </i></p>
                </div>
                <table class="details ">
                    <tr>
                        <td class="Center">
                            <i class="fa fa-bed"></i>
                            <%=Propirty[i].bedrooms%> Bedrooms
                        </td>
                        <td class="Center">
                            <i class="fa fa-tint"></i>
                            <%=Propirty[i].bathrooms%> Baths
                        </td>
                        <td class="Center">
                            <i class="fa fa-expand"></i>
                            <%=Propirty[i].area%>m
                            <sup>2</sup>
                        </td>
                    </tr>
                </table>
            </div>
            <%// t++ }%>
            <% } %>
            <% } else { %>
                <p>There are no properties to display...</p>
                <% } %>
        </div>
        <div class="pageswitch"></div>
        <a href="#"></a>
    </div>
<!--
    pagination
-->
<div class="pagination">
     <button class ="btn1" onclick="backBtn()"> <img src="/img/arrowofpagination.png"> prev</button>
    <ul>
        <%for(var i=0;i<count;i++){%>
            <li class="link " value="<%=i%>" onclick="activeLink()"><%=i+1%></li>
        <%}%>
        <!--<li class="link active" value="1" onclick="activeLink()">1</li>
        <li class="link" value="2" onclick="activeLink()">2</li>
        <li class="link" value="3" onclick="activeLink()">3</li>
        <li class="link" value="4" onclick="activeLink()">4</li>
        <li class="link" value="5" onclick="activeLink()">5</li>
        <li class="link" value="6" onclick="activeLink()">6</li>-->
    </ul>
    <button class ="btn2" onclick="nextBtn()"> <img src="/img/arrowofpagination.png" >next</button>



</div>
<script>
    let link=document.getElementsByClassName("link");
    function activeLink(){
        for(l of link){
            l.classList.remove("active");
    
        }
        event.target.classList.add("active");
        currentValue=event.target.value; 
        consloe.log(currentValue);
    }
     function backBtn(){
        console.log(currentValue);
        if(currentValue>1){
            for(l of link){
                l.classList.remove("active");
            }  
            currentValue--; 
            link[currentValue-1].classList.add("active");
        }
       
     }
    
     function nextBtn(){
        console.log(currentValue);
        if(currentValue<count-1){
            for(l of link){
                l.classList.remove("active");
            }  
            currentValue++; 
            link[currentValue-1].classList.add("active");
        }
    
     }
    
    
    </script>


    </body>
    <%- include("../partials/footer") %>

</html>